@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.231;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body, input, select, textarea {
  font-family: "Jost", sans-serif;
  color: #000;
}

b, strong {
  font-weight: 500;
}

blockquote {
  margin: 1em 40px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

small {
  font-size: 85%;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 30px;
}

img {
  border: 0;
  vertical-align: middle;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

input {
  line-height: normal;
  *overflow: visible;
}

table input {
  *overflow: auto;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, form, fieldset {
  margin: 0;
  padding: 0;
}

/* Typography */
a, .link {
  color: #0072bc;
  text-decoration: none;
  display: inline;
  margin-bottom: 1px;
}

a:hover, .link:hover {
  text-decoration: underline;
  margin-bottom: 0;
  cursor: pointer;
}

h1 {
  color: #002a49;
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-size: 16px;
}

h2, .subject {
  font-size: 16px;
  color: black;
}

/* Helpers */
.centered {
  text-align: center;
}

.clear {
  clear: both;
  height: 1px;
  visibility: none;
}

.hidden {
  display: none;
}

.faded {
  color: #666;
}

/* Pagination */
#pagination {
  border: 0;
  margin: 0 0 40px 0;
  padding: 0;
}

#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  display: inline;
}

#pagination li a {
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}

#pagination li a:hover {
  color: #ff0084;
}

#pagination .previousOff, #pagination .nextOff {
  color: #666;
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}

#pagination .next a, #pagination .previous a {
  font-weight: bold;
}

#pagination .active {
  color: #000;
  font-weight: bold;
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}

/* Alerts & Notices */
#msg_notice {
  margin: 0;
  padding: 5px 10px 5px 36px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #0a0;
  background: url('../images/icons/ok.png') 10px 50% no-repeat #e0ffe0;
}

#msg_warning, .warning-banner {
  margin: 0;
  padding: 5px 10px 5px 36px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #f26522;
  background: url('../images/icons/alert.png') 10px 50% no-repeat #ffffdd;
}

#msg_error {
  margin: 0;
  padding: 5px 10px 5px 36px;
  height: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #a00;
  background: url('../images/icons/error.png') 10px 50% no-repeat #fff0f0;
}

#msg_info {
  margin: 0;
  padding: 5px;
  margin-bottom: 10px;
  color: #3a87ad;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
}

.warning {
  background: #ffc;
  font-style: italic;
}

.warning strong {
  text-transform: uppercase;
  color: #a00;
  font-style: normal;
}

.error {
  color: #f00;
}

.error input {
  border: 1px solid #f00;
}

.button, .button:visited {
  background: #222;
  border: none;
  display: inline-block;
  font-size: 16px;
  padding: 4px 16px 4px 16px;
  max-width: 220px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.button:hover {
  background-color: #111;
  color: #fff;
}

.button:active {
  top: 1px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.button, .button:visited, .green.button, .green.button:visited {
  background-color: #91bd09;
}

.green.button:hover {
  background-color: #749a02;
}

.blue.button, .blue.button:visited {
  background-color: #00AEEF;
  color: #ffffff;
}

.blue.button:hover {
  background-color: #0299d2;
  color: #fff;
}

body {
  background: #f6f6f6;
}

#container {
  background: #fff;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

#header {
  position: relative;
  min-height: 85px;
  padding: 0 15px;
}

#logo {
  height: 100%;
}

#header #logo img {
  max-height: 100px;
  max-width: 300px;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.valign-helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#header p {
  width: 400px;
  margin: 0;
  padding: 10px 0 0;
}

#nav {
  /* margin: 0 20px; */
  padding: 10px 15px;
  height: 40px;
  /* -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4); */
  white-space: nowrap;
  background: #a4e2ec;
}

#nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

#nav li a {
  display: inline-block;
  width: auto;
  line-height: 20px;
  text-align: center;
  padding: 10px 15px 10px 35px;
  margin-left: 10px;
  color: #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.rtl #nav li a {
  background-position: right center;
  background-position: calc(100% - 10px) center;
  padding-left: 10px;
  padding-right: 32px;
  margin-right: 10px;
  margin-left: 0;
}

#nav li a.active, #nav li a:hover {
  background-color: #dbefff;
  color: #002a49;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #ededed;
  color: #0054a6;
}

#nav li a.home {
  background-image: url('../images/icons/home.png');
}

#nav li a.kb {
  background-image: url('../images/icons/kb.png');
}

#nav li a.new {
  background-image: url('../images/icons/new.png');
}

#nav li a.status {
  background-image: url('../images/icons/status.png');
}

#nav li a.tickets {
  background-image: url('../images/icons/tix.png');
}

#content {
  padding: 20px 0;
  margin: 0 20px;
}

#footer {
  text-align: left;
  font-size: 13px;
  color: #333;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

#footer a {
  color: #333;
}

#footer p {
  margin: 10px 0 0 0;
}

#footer #poweredBy {
  display: block;
  width: 126px;
  height: 23px;
  outline: none;
  text-indent: -9999px;
  margin: 0 auto;
  background: url('../images/poweredby.png') top left no-repeat;
  background-size: auto 20px;
}

.front-page-button {
}

.main-content {
  width: 565px;
}

#landing_page #new_ticket {
  margin-top: 40px;
  background: url('../images/new_ticket_icon.png') top left no-repeat;
}

#landing_page #new_ticket, #landing_page #check_status {
  width: 295px;
  padding-left: 75px;
}

#landing_page #check_status {
  margin-top: 40px;
  background: url('../images/check_status_icon.png') top left no-repeat;
}

#landing_page h1, #landing_page h2, #landing_page h3 {
  margin-bottom: 10px;
}

/* Landing page FAQ not yet implemented. */
#faq {
  clear: both;
  margin: 0;
  padding: 5px;
}

#faq ol {
  font-size: 15px;
  margin-left: 0;
  padding-left: 0;
  border-top: 1px solid #ddd;
}

#faq ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999;
}

#faq ol li a {
  display: block;
  padding: 5px 0;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #ddd;
  line-height: 16px;
  padding-left: 24px;
  background: url('../images/icons/page.png') 0 50% no-repeat;
}

#faq ol li a:hover {
  background-color: #e9f5ff;
}

#faq .article-meta {
  padding: 5px;
  background: #fafafa;
}

#kb {
  margin: 2px 0;
  padding: 5px;
  overflow: hidden;
}

#kb > li {
  padding: 10px;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  background: url(../images/kb_category_bg.png) bottom left repeat-x;
  border-bottom: 1px solid #ddd;
  display: block;
}

#kb > li h4 span {
  color: #666;
}

#kb > li h4 a {
  font-size: 14px;
}

#kb > li > i {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 6px;
  background: url(../images/kb_large_folder.png) top left no-repeat;
}

.featured-category {
  margin-top: 10px;
  width: 49.7%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.category-name {
  display: inline-block;
  font-weight: 400;
  font-size: 120%;
}

.featured-category i {
  color: rgba(0,174,239, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: middle;
}

.article-headline {
  margin-left: 34px;
}

.rtl .article-headline {
  margin-left: 0;
  margin-right: 34px;
}

.article-teaser {
  font-size: 90%;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}

.article-title {
  font-weight: 500;
}

.faq-content .article-title {
  font-size: 17pt;
  margin-top: 15px;
}

#kb-search {
  padding: 10px 0;
  overflow: hidden;
}

#kb-search div {
  clear: both;
  overflow: hidden;
  padding-top: 5px;
}

#kb-search #query {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
}

#kb-search #cid {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#kb-search #topic-id {
  margin: 0;
  display: inline-block;
  float: left;
  width: 410px;
}

#kb-search #searchSubmit {
  margin: 0;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
}

#kb-search #breadcrumbs {
  color: #333;
  margin-bottom: 15px;
}

#kb-search #breadcrumbs #breadcrumbs a {
  color: #555;
}

#ticketForm div.clear, #clientLogin div.clear {
  clear: both;
  padding: 3px 0;
  overflow: hidden;
}

#ticketForm div label, #clientLogin div label {
  display: block;
}

label.required, span.required {
  font-weight: 500;
}

#ticketForm div label.required, #clientLogin div label.required {
  text-align: left;
}

#ticketForm div input, #clientLogin div input, #ticketForm div textarea, #clientLogin div textarea {
  width: auto;
  border: 1px solid #aaa;
  background: #fff;
  display: block;
}

#ticketForm div input[type=file], #clientLogin div input[type=file] {
  border: 0;
}

#ticketForm div select, #clientLogin div select {
  display: block;
  float: left;
}

#ticketForm div div.captchaRow, #clientLogin div div.captchaRow {
  line-height: 31px;
}

#ticketForm div div.captchaRow input, #clientLogin div div.captchaRow input {
  position: relative;
  top: 6px;
}

#ticketForm > table {
  table-layout: fixed;
}

#ticketForm > table td {
  width: 160px;
}

#ticketForm > table td + td {
  width: auto;
}

#ticketForm td textarea, #clientLogin td textarea, #ticketForm div textarea, #clientLogin div textarea {
  width: 600px;
}

#ticketForm td em, #clientLogin td em, #ticketForm div em, #clientLogin div em {
  color: #777;
}

#ticketForm td .captcha, #clientLogin td .captcha, #ticketForm div .captcha, #clientLogin div .captcha {
  width: 88px;
  height: 31px;
  background: #000;
  display: block;
  float: left;
  margin-right: 20px;
}

#ticketForm td label.inline, #clientLogin td label.inline, #ticketForm div label.inline, #clientLogin div label.inline {
  width: auto;
  padding: 0 10px;
}

#ticketForm div.error input, #clientLogin div.error input {
  border: 1px solid #a00;
}

#ticketForm div.error label, #clientLogin div.error label {
  color: #a00;
}

#ticketTable th {
  padding-left: 3px;
  font-weight: normal;
  text-align: left;
}

#ticketTable th.required, #ticketTable td.required {
  font-weight: bold;
  text-align: left;
}

#clientLogin {
  display: block;
  margin-top: 20px;
  padding: 20px;
  border-radius: 0;
  background: url('../images/lock.png?1319655200') 95% 50% no-repeat #f6f6f6;
}

.rtl #clientLogin {
  background-position: 5% 50%;
}

#clientLogin .instructions {
  display: table-cell;
  padding-left: 2em;
  padding-right: 90px;
}

.rtl #clientLogin .instructions {
  padding-left: 0;
  padding-right: 0;
  padding-right: 2em;
  padding-left: 90px;
}

#clientLogin p {
  clear: both;
}

#clientLogin strong {
  font-size: 11px;
  color: #d00;
  display: block;
}

#clientLogin #email, #clientLogin #ticketno {
  margin-right: 0;
}

#clientLogin input[type=text], #clientLogin input[type=password] {
  padding: 5px 10px;
  border-radius: 0;
  margin-bottom: 15px;
}

#clientLogin input[type=submit] {
  padding: 3px 10px;
  border-radius: 0;
  background: #002a49;
}

#reply {
  margin-top: 5px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

#reply h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px dotted rgba(0,0,0,0.1);
}

#reply > table {
  width: auto;
}

#reply table td {
  vertical-align: top;
}

#reply textarea {
  width: 628px !important;
}

#reply input[type=text], #reply #response_options textarea {
  border: 1px solid #aaa;
  background: #fff;
}

/* Ticket icons */
.Icon {
  width: auto;
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #006699;
  text-decoration: none;
}

.Icon.Ticket {
  background-image: url('../images/icons/ticket.gif');
}

.Icon.webTicket {
  background-image: url('../images/icons/ticket_source_web.gif');
}

.Icon.emailTicket {
  background-image: url('../images/icons/ticket_source_email.gif');
}

.Icon.phoneTicket {
  background-image: url('../images/icons/ticket_source_phone.gif');
}

.Icon.otherTicket, .Icon.apiTicket {
  background-image: url('../images/icons/ticket_source_other.gif');
}

.Icon.attachment {
  background-image: url('../images/icons/attachment.gif');
}

.Icon.file {
  background-image: url('../images/icons/attachment.gif');
}

.Icon.refresh {
  background-image: url('../images/icons/refresh.gif');
}

.Icon.thread {
  font-weight: bold;
  font-size: 1em;
  background-image: url('../images/icons/thread.gif?1319556657');
}

#ticketTable {
  border: 1px solid #aaa;
  border-left: none;
  border-bottom: none;
}

#ticketTable caption {
  padding: 5px;
  text-align: left;
  color: #000;
  background: #ddd;
  border: 1px solid #aaa;
  border-bottom: none;
  font-weight: bold;
}

#ticketTable th {
  height: 24px;
  line-height: 24px;
  background: #e1f2ff;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
  padding: 0 5px;
}

#ticketTable th a {
  color: #000;
}

#ticketTable td {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
}

#ticketTable tr.alt td {
  background: #f9f9f9;
}

i.refresh {
  color: #0a0;
  font-size: 80%;
  vertical-align: middle;
}

.states small {
  font-size: 70%;
}

.active.state {
  font-weight: bold;
}

.search.well {
  padding: 10px;
  background-color: rgba(0,0,0,0.05);
  margin-bottom: 10px;
  margin-top: -15px;
}

.infoTable {
  background: #F4FAFF;
}

.infoTable th {
  text-align: left;
  padding: 3px 8px;
}

.action-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #777 !important;
  display: inline-block;
  border: 1px solid #aaa;
  cursor: pointer;
  font-size: 11px;
  overflow: hidden;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100% #dddddd));
  background-image: -webkit-linear-gradient(top, #efefef 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(top, #efefef 0%, #dddddd 100%);
  background-image: -ms-linear-gradient(top, #efefef 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #efefef 0%, #dddddd 100%);
  background-image: linear-gradient(top, #efefef 0%, #dddddd 100%);
  padding: 0 5px;
  text-decoration: none;
  line-height: 18px;
  margin-left: 5px;
}

.action-button span, .action-button a {
  color: #777 !important;
  display: inline-block;
  float: left;
}

.action-button a {
  color: #777;
  text-decoration: none;
}

table.padded tr > td, table.padded tr > th {
  height: 20px;
  padding-bottom: 5px;
}

.external-auth + .external-auth {
  margin-top: 4px;
}

a.external-sign-in {
  text-decoration: none;
}

.external-auth-box {
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #777;
}

.external-auth-icon {
  display: inline-block;
  color: #333;
  width: 30px;
  padding: 5px 10px;
  border-right: 1px solid #ddd;
}

.external-auth-name {
  color: #333;
  width: 100px;
  padding: 5px 10px;
  line-height: 30px;
  font-size: 11pt;
}

img.sign-in-image {
  border: none;
  max-height: 40px;
  max-width: 200px;
  width: auto;
  height: auto;
}

.login-box {
  width: 40%;
  display: table-cell;
  box-shadow: 12px 0 15px -15px rgba(0,0,0,0.4);
  padding: 15px;
}

.rtl .login-box {
  box-shadow: -12px 0 15px -15px rgba(0,0,0,0.4);
}

.flush-right {
  text-align: right;
}

.flush-left {
  text-align: left;
}

.sidebar {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 215px;
}

.rtl .sidebar {
  margin-left: 0;
  margin-right: 20px;
}

.sidebar .content {
  padding: 10px;
  border: 1px solid #C8DDFA;
  background: #F7FBFE;
}

.sidebar .content:empty {
  display: none;
}

.sidebar section .header {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.sidebar section + section {
  margin-top: 15px;
}

.search-form {
  padding-top: 12px;
}

.searchbar .search, .search-form .search {
  display: inline-block;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.searchbar .search {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.bleed {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
}

.span4 {
  display: inline-block;
  width: 29.5%;
  margin: 0 1%;
  vertical-align: top;
}

.span8 {
  display: inline-block;
  width: 66.0%;
  margin: 0 1%;
  vertical-align: top;
}

.truncate {
  display: inline-block;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.image-hover a.action-button:hover, .image-hover a.action-button {
  color: initial !important;
  text-decoration: none;
}

table.custom-data {
  margin-top: 10px;
}

table.custom-data th {
  width: 25%;
}

table.custom-data th {
  background-color: #F4FAFF;
  padding: 3px 8px;
}

table .headline, table.custom-data .headline {
  border-bottom: 2px solid #ddd;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  font-weight: bold;
  background-color: white;
}

#ticketInfo h1 {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.15);
}

#ticketInfo h1 small {
  font-weight: normal;
}

.thread-entry {
  margin-bottom: 15px;
}

.thread-entry.avatar {
  margin-left: 60px;
}

.thread-entry.response.avatar {
  margin-right: 60px;
  margin-left: 0;
}

.thread-entry > .avatar {
  margin-left: -60px;
  display: inline-block;
  width: 48px;
  height: auto;
  border-radius: 5px;
}

.thread-entry.response > .avatar {
  margin-left: initial;
  margin-right: -60px;
}

img.avatar {
  border-radius: inherit;
}

.avatar > img.avatar {
  width: 100%;
  height: auto;
}

.thread-entry .header {
  padding: 8px 0.9em;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.2);
  border-radius: 5px 5px 0 0;
}

.thread-entry.avatar .header:before {
  position: absolute;
  top: 7px;
  right: -8px;
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #b0b0b0;
  display: inline-block;
}

.thread-entry.avatar .header:after {
  position: absolute;
  top: 7px;
  right: -8px;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: inline-block;
  margin-top: 1px;
}

.thread-entry.avatar .header {
  position: relative;
}

.thread-entry.response .header {
  background: #dddddd;
}

.thread-entry.avatar.response .header:after {
  border-left: 7px solid #dddddd;
  margin-right: 1px;
}

.thread-entry.message .header {
  background: #C3D9FF;
}

.thread-entry.avatar.message .header:before {
  top: 7px;
  left: -8px;
  right: initial;
  border-left: none;
  border-right: 8px solid #CCC;
}

.thread-entry.avatar.message .header:before {
  border-right-color: #9cadcc;
}

.thread-entry.avatar.message .header:after {
  top: 7px;
  left: -8px;
  right: initial;
  border-left: none;
  border-right: 7px solid #c3d9ff;
  margin-left: 1px;
}

.thread-entry .header .title {
  max-width: 500px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 15px;
}

.thread-entry .thread-body {
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: 2px solid #aaa;
  border-radius: 0 0 5px 5px;
}

.thread-body .attachments {
  background-color: #f4faff;
  margin: 0 -0.9em;
  position: relative;
  top: 0.9em;
  padding: 0.3em 0.9em;
  border-top: 1px dotted #ccc;
  border-top-color: rgba(0,0,0,0.2);
  border-radius: 0 0 6px 6px;
}

.thread-body .attachments .filesize {
  margin-left: 0.5em;
}

.thread-body .attachments a, .thread-body .attachments a:hover {
  text-decoration: none;
}

.thread-body .attachment-info {
  margin-right: 10px;
  display: inline-block;
  width: 48%;
}

.thread-body .attachment-info .filename {
  max-width: 80%;
  max-width: calc(100% - 70px);
}

.label {
  font-size: 11px;
  padding: 1px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}

.label-bare {
  background-color: transparent;
  background-color: rgba(0,0,0,0);
  border: 1px solid #999999;
  color: #999999;
  text-shadow: none;
}

.thread-event {
  padding: 0px 2px 15px;
  margin-left: 60px;
}

.type-icon {
  border-radius: 8px;
  background-color: #f4f4f4;
  padding: 4px 6px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  border: 1px solid #eee;
  vertical-align: top;
}

.type-icon.dark {
  border-color: #666;
  background-color: #949494;
}

.thread-event img.avatar {
  vertical-align: middle;
  border-radius: 3px;
  width: auto;
  max-height: 24px;
  margin: -3px 3px 0;
}

.thread-event .description {
  margin-left: -30px;
  padding-top: 6px;
  padding-left: 30px;
  display: inline-block;
  width: 642px;
  width: calc(100% - 95px);
  line-height: 1.4em;
}

.thread-event .type-icon {
  position: relative;
}

.thread-event .type-icon::after {
  content: "";
  border: 16px solid white;
  position: absolute;
  top: -3px;
  bottom: 0;
  left: -3px;
  right: 0;
  z-index: -1;
}

.thread-entry::after {
  content: "";
  border-bottom: 2px solid white;
  display: block;
}

.thread-entry::before {
  content: "";
  display: block;
  border-top: 2px solid white;
}

#ticketThread::before {
  border-left: 2px dotted #ddd;
  border-bottom-color: rgba(0,0,0,0.1);
  position: absolute;
  margin-left: 74px;
  z-index: -1;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#ticketThread {
  z-index: 0;
  position: relative;
  border-bottom: 2px solid #ddd;
  border-bottom-color: rgba(0,0,0,0.1);
}

.freetext-files {
  padding: 10px;
  margin-top: 10px;
  border: 1px dotted #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.freetext-files .file {
  margin-right: 10px;
  display: inline-block;
  width: 48%;
  padding-top: 0.2em;
}

.freetext-files .title {
  font-weight: bold;
  margin-bottom: 0.3em;
  font-size: 1.1em;
}

/* ==========================================================================
INPUTS
========================================================================== */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: url(../../../../theme/chevron-down-thin.svg) no-repeat;
  background-position: right 4px center!important;
  background-size: 20px 20px;
  background-color: #fff;
  color: #424242;
  border: .5px solid #bfbfbf !important;
  height: 32px;
  min-width: 305px;
  position: relative;
  top: -1px;
  padding: 0 17px 0 8px !important;
  font-family: 'Open Sans', sans-serif;
}

.rtl select {
  background-position: left 5px center!important;
  padding: 0 8px 0 0 !important;
}

input[type=text], input[type=password], textarea, input {
  min-width: 100px;
  margin: 3px 0 3px 0;
  /*target (Staff login page)*/
  height: 32px;
  padding: 0 0 0 8px;
  border: .5px solid #bfbfbf;
  outline: none!important;
}

textarea {
  padding: 7px 0 0 8px;
  height: initial;
}

.rtl input[type=text], .rtl input[type=password], .rtl textarea, .rtl input {
  padding: 0 8px 0 0;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  color: #898989;
  border: .5px solid #898989;
  padding: 8px 26px !important;
  height: unset;
}

input[type="submit"], input[type="reset"], input[type="button"], .action-button, .button, button, button.link.button, input[type="button"] {
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  /*margin: 0;*/
  padding: 6px 16px;
  color: #898989;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .action-button:hover, .button:hover, button:hover, button.link.button:hover, input[type="button"]:hover {
  /*padding: 6px 16px;*/
  /*target*/
  background: #154e78;
  color: #3b4450;
  border: .5px solid #8c9aac;
}

a.green.button {
  background: #fff;
  border: .5px solid #b9b9b9;
}

.green.button:hover {
  background: #ffffff !important;
  border: .5px solid #8c9aac !important;
  color: #3b4450 !important;
  box-shadow: unset;
}

form[action="profile.php"] .action-button, form[action="profile.php"] .action-button:hover {
  /*height: 40px;*/
  /*target*/
}

input[type="submit"], input[type="reset"], input[type="button"], button, button.link.button, input[type="button"] {
  will-change: background;
  transition: all 0.3s ease-in-out;
}

form#login input[type="text"], form#login input[type="password"] {
  margin: unset;
}

.action-button {
  margin: 0;
}

input.translatable {
  height: 32px;
  width: 405px;
  border: .5px solid #bfbfbf;
  position: relative;
  top: -1px;
  color: #424242;
}

input[type="text"].translatable {
  border-right: initial !important;
}

div.translatable {
  border: .5px solid #bbb;
  border-right: .5px solid #bbb;
  border-radius: 3px;
}

.input.attached {
  height: 32px;
}

.input.attached input {
  min-width: 169px;
  height: 32px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0 8px;
  border: .5px solid #bfbfbf;
  border-right: 0;
  float: left;
}

.rtl .input.attached input {
  padding: 0 8px 0 0;
}

input#user-email {
  margin: 0 0 4px 0!important;
}

.button.attached {
  margin-left: -4px;
  margin-right: -4px;
  margin: 0 -4px 5px -4px;
  box-shadow: none !important;
  border: .5px solid #bfbfbf !important;
  border-left: 0 !important;
  border-radius: 0 3px 3px 0;
  float: left;
}

.banlist .button.attached {
  margin: 3px -4px 5px -4px;
}

.input.attached .button.attached {
  height: 100%;
  box-sizing: border-box;
  border: unset !important;
}

.button.attached:after {
  clear: both;
}

a.attached.button:hover {
  border-left: 0;
}

a.attached.button i.icon-search {
  top: 5px;
}

input[type="radio"] {
  min-width: initial;
  margin: 0 3px 0 0;
  width: 16px;
  height: 15px;
  position: relative;
  top: 3px;
  -webkit-appearance: radio !important;
}

.rtl input[type="radio"] {
  margin: 0 0 0 3px;
}

input[name="title"] {
  margin: 0 !important;
}

td.required + td input, td.required + td select, td.required + td .select2-selection, div#definition td.required + td div.translatable, form[action*="change-password"] input[type="text"], form[action*="change-password"] input[type="password"] {
  border-right: 2px solid red !important;
}

#definition td.required + td input {
  border-right: 0 !important;
}

select[name="source"] {
  padding-left: 5px;
}

.rtl select[name="source"] {
  padding-right: 5px;
}

.settings .error {
  /*display: none;*/
  /*why?!*/
}

input[name$="-ext"] {
  min-width: 30px;
  width: 60px;
}

input[placeholder="Keywords � Optional"] {
  padding: 0 0 0 6px !important;
}

.rtl input[placeholder="Keywords � Optional"] {
  padding: 0 6px 0 0 !important;
}

#new-user-form input[type="text"], #new-user-form input[type="email"] {
  width: 320px;
}

#new-user-form input[size="5"] {
  width: 56px !important;
}

#new-user-form select {
  min-width: 91px;
}

#sequences .manage-buttons {
  margin-right: 80px;
}

.rtl #sequences .manage-buttons {
  margin-left: 80px;
}

.settings input[type="file"] {
  height: 22px;
  margin: 0;
  padding: 5px;
}

#sequences div[style="display:inline-block"] {
  font-size: 16px !important;
  line-height: 16px;
}

input[type="file"] {
  padding: 6px 0 29px 6px;
  background: #d7f4ff;
  height: 0;
}

.buttons input {
  min-width: 100px;
}

#theme-save-button:hover {
  background: #fff;
}

button#do_search, input[type="submit"], input[type="reset"], input[type="button"], form.-redactor-container button[type=submit] {
  /* margin: 0 4px; */
  box-shadow: none;
  padding: 9px 30px !important;
  color: #515d6d;
  border: initial !important;
  background: #dcdfe2;
  font-weight: 600;
  border-radius: 0;
}

button#do_search {
  padding: 9px 43px !important;
}

.dialog input[value="Reset"] {
  display: none;
}

#user-form form.user input[type="tel"], #user-form form.user input[type="text"] {
  min-width: 222px;
}

td input[type="tel"] + input {
  width: 50px !important;
  min-width: 50px !important;
}

#basic_search input[type="submit"] {
  border: .5px solid rgba(166, 182, 166, 0.7294117647058823) !important;
}

.save.pending, input[type="submit"], input[value="Create"], input[style="color: rgb(255, 0, 0);"], form.-redactor-container button[type=submit] {
  color: #ffffff !important;
  background-color: #002a49;
  box-shadow: unset;
  border: initial !important;
}

input[style="color: rgb(255, 0, 0);"] {
  box-shadow: unset;
  -webkit-animation: async-save-warning-pulse 1.5s ease-in-out infinite;
  animation: async-save-warning-pulse 1.5s ease-in-out infinite;
}

@-webkit-keyframes async-save-warning-pulse {
  0% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 0 rgba(77, 130, 85, 0.44)
  }

  50% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 4px rgba(77, 130, 85, 0.44)
  }

  100% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 0 rgba(77, 130, 85, 0.44)
  }
}

@keyframes async-save-warning-pulse {
  0% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 0 rgba(77, 130, 85, 0.44)
  }

  50% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 4px rgba(77, 130, 85, 0.44)
  }

  100% {
      box-shadow: 0 0 0 0 #75a4b1, 0 0 0 0 rgba(77, 130, 85, 0.44)
  }
}

input[type="submit"]:hover, input[value="Create"]:hover, .save.pending:hover {
  color: #ffffff !important;
  box-shadow: unset;
}

.button:hover, .button:active, .save.pending:hover, button#do_search:hover, input[type="reset"]:hover, input[type="button"]:hover, input[type="button"]:active, input[type="reset"]:hover, input[type="reset"]:active, button.link.button:active, form.-redactor-container button[type=submit]:hover, form.-redactor-container button[type=submit]:active {
  box-shadow: unset;
  border: initial !important;
  background: #c9cdd0;
  color: #343a42;
  /* height: unset; */
  /*target*/
  text-decoration: none;
}

.action-button:hover, .action-button:active {
  box-shadow: unset;
  background: #fff;
}

input.button[name="delete"]:hover {
  border: .5px solid #c61818 !important;
  color: #c61818 !important;
  background: #edd5d6 !important;
}

a.green.button.action-button.ticket-task-action {
  /* padding: 9px 30px !important; */
  /* target */
}

.action-button.muted {
  box-shadow: none;
}

.action-button i {
  /*position: initial !important;*/
  /*background-position: 1px 1px;*/
  /*whatever reason this is here, it needs to be targeted specifically*/
  /*STILL NEEDED?!*/
  /*background-repeat: no-repeat;*/
}

.action-button i:hover {
  /*background-position: 1px 1px;*/
  /*whatever reason this is here, it needs to be targeted specifically*/
}

.action-dropdown, .noclick-dropdown {
  width: fit-content;
}

.action-dropdown ul li a > i {
  background-position: 0 0 !important;
  width: 20px !important;
  height: 20px !important;
  top: 6px;
  font-size: 21px;
  background-repeat: no-repeat !important;
  margin: 0 6px 0 0;
}

.rtl .action-dropdown ul li a > i {
  margin: 0 0 0 6px;
}

.action-dropdown ul li > a {
  line-height: 30px;
}

.rtl .action-dropdown ul.bleed-left li > a {
  padding-right: 8px;
}

#msg_info i.icon-info-sign {
  display: none;
}

.action-button i.icon-caret-down, .action-button.muted i.icon-caret-down {
  border-left: .5px solid #ccc;
  float: right !important;
  padding: 0 0 0 4px;
  height: 21px;
}

.rtl .action-button i.icon-caret-down {
  border-right: initial;
  margin-left: 6px;
  margin-right: 0;
}

span.action-button {
  margin: 0 2px;
}

/*span.action-button[data-original-title="Change Status"] {
margin-left: 0;
}*/
a#post-note, .icon-mail-reply:before, .icon-reply:before {
  color: #128dbe;
}

a#post-note:hover {
  background-color: #fff;
}

a.attached.button:hover {
  background: #fff;
  background: -moz-linear-gradient(top, #fafafa 0%, #e7ebf0) #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7)) #ffffff;
}

.link.button {
  background: #fff;
  border: .5px solid #b1b1b1;
  padding: 6px 16px;
  color: #b1b1b1;
}

.link.button:hover, .link.button:active {
  background: #ccd1d6;
  color: #fff;
}

.red.button.action-button {
  /*margin-right: 0;*/
  /*whatever reason this is here, it needs to be targeted specifically*/
}

.red.button.action-button:hover > a [class^="icon-"] {
  color: #d01919;
}

.red.button:hover {
  box-shadow: none;
  color: #d01919;
  border: .5px solid #d01919 !important;
  background-color: #fff;
  height: 22px;
}

button.red.button[name="delete"] {
  background: #fff;
  border-width: .5px !important;
  border: .5px solid #aa9e9e;
  box-shadow: unset;
}

button.red.button[name="delete"]:hover {
  background: #ffd9d9 !important;
  border: .5px solid #cd8f8f !important;
}

.button-text.advanced-search svg {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  fill: #128dbe;
  top: 0 !important;
  left: 4px;
  margin: 2px 4px 0 0;
  float: right;
}

.action-button.advanced-search.gray-light2 {
  margin-right: 0;
  margin-left: 8px;
  position: relative;
  /* right: -3px; */
}

.rtl .action-button.advanced-search.gray-light2 {
  right: 1px;
}

.button-text.advanced-search:hover > svg {
  fill: #0c5c7b;
}

.action-button:hover > i {
  /*color: #0c5c7b;*/
  /*target*/
}

.action-button:hover > a [class^="icon-"] {
  color: #0c5c7b;
}

.action-button.danger {
  background: -moz-linear-gradient(top, #fafafa 0%, #e7ebf0) #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3)) #ffffff;
  border: .5px solid #aaa;
  opacity: 1;
}

.action-button.danger:hover {
  background: #ef0d0d !important;
}

#content .pull-right .action-button.muted, .action-button.muted[data-dropdown="#sort-dropdown"] {
  float: right;
  margin: 0 0 0 6px;
  /* sort button on ticket pages */
}

.rtl .action-button.muted[data-dropdown="#sort-dropdown"] {
  float: left;
  margin: 6.5px 6px 0 0;
}

.tasks .action-button.muted[data-dropdown="#sort-dropdown"] {
  margin: 0 0 0 6px;
}

.valign-helper {
  margin-top: 48px !important;
}

button.translatable {
  margin: 1px 1px 0 0;
  background: unset;
}

input ~ button.translatable {
  width: 28px;
  height: 28px;
  padding: 0;
}

input ~ button.translatable:hover {
  background: #f7db94bd !important;
  border: initial;
}

input.translatable[value="Support"] {
  width: 247px !important;
  height: 30px !important;
  padding: 0 0 0 8px !important;
}

.button-text.advanced-search, span.sort-button-text, .pull-right.flush-right.page-top .action-button.muted {
  letter-spacing: initial;
  color: #585858;
}

button[type=submit], input[type="submit"], .primary.button {
  box-shadow: unset;
}

button[name="remove-users"] {
  background: #fff;
}

#user-info a.inline.button {
  padding: 6px 16px;
  margin: 0 0 0 10px;
  border: .5px solid #797777;
}

#user-info a.inline.button:hover {
  height: 22px;
  line-height: 22px;
}

.action-dropdown ul li > a > i[class^="icon-"]:before {
  top: 1px !important;
  margin: 0 10px 0 0 !important;
}

.action-dropdown ul li > a:hover > i[class^="icon-"]:before {
  color: #fff !important;
}

#advanced-search i.icon-save {
  position: relative;
  top: 1px;
  margin-right: 6px !important;
}

button.save.button {
  background: #dcdfe2;
}

button.save.button:hover {
  background: #c9cdd0;
}

form#advsearch button#do_save {
  /*advanced ticket search*/
  color: #3c763d !important;
  background-color: #d0e9c6;
  padding: 9px 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

form#advsearch button#do_save:hover {
  /*advanced ticket search*/
  color: #2a3e2a !important;
  background: #ccd1d6;
  box-shadow: initial;
}

#poweredBy {
  display: none!important;
}
